body {
    
    background-image: url("sbm.png");
background-repeat: no-repeat;
  background-attachment: fixed;
background-position: center; 
    color: #111;
    font-size: 0.95em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    margin: 0;
}

p {
    text-align: justify;
}

a {
    color:   #037d2c   ;
    font-weight: 400;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    color: #444;
    outline: 0;
    text-decoration: none;
}

::selection {
    background: #778c85;
    color: #fff;
    text-shadow: none;
}

div#wrapper {
    background: #f1f;
    background: rgba(255, 255, 255, .85);
    border: 0.5px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    max-width: 52em;
    margin: 3em auto 3em auto;
    padding: 2em;
}

div#bottom {
    text-align: right;
}
div#bottom a {
    background: #fff;
    background: rgba(255, 255, 255, .5);
    border: 1px solid #e5e5e5;
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    padding: .5em;
}

p#headernavigation a {
    font-weight: bold;
}

img#portrait {
    float: right;
    margin: 0 0 1em 2em;
    width: 250px;
}

strong {
    font-style: italic;
}

.additional {
    font-size: .8em;
    font-style: italic;
    font-weight: bold;
}

.date, .info {
    font-size: .8em;
    font-style: italic;
}

h2 {
    margin-bottom: 0;
    margin-top: 3em;
}

h3 {
    margin: 2em 0 2em 0;
}

.blockcontent > h4 {
    margin-bottom: 0;
    margin-top: 0;
}

.blockcontent > span {
    font-size: .9em;
}
.blockcontent .authors {
    font-style: italic;
}

div.block {
    background: rgba(255, 255, 255, .5);
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    clear: both;
    display: table;
    margin-top: 2em;
    padding: 1em;
}
div.block > img {
    float: left;
    width: 200px;
}
div.block div.blockcontent {
    margin-left: 200px;
    padding-left: 2em;
}



@media only screen and (max-height: 666px) {
    body {
        background: #e3e3e3 url("https://data.sweichwald.de/thinking.png") fixed no-repeat top right;
    }
}
@media only screen and (max-width: 846px) {
    body {
        background: #e3e3e3;
    }
}
@media only screen and (max-width: 580px) {
    div#wrapper {
        margin: auto;
        padding: 1em;
    }
    img#portrait {
        float: none;
        width: 200px;
        margin: 0;
    }
    div.block img {
        float: none;
        width: 150px;
        margin-bottom: 1em;
    }
    div.block div.blockcontent {
        margin: 0;
        padding: 0;
    }
}



.altmetric-embed a::before {
    color: #444;
    content: "/";
}
